@media only screen and (max-width: 1266px) {
	
	/**
	
	* {
	transition: all .5s;
	} 
	
	**/
	
/** main-page **/
	
	#header-bar-bg {
		width: 900px;
	}
	
	#header-bar {
		width: 900px;
	}
	
	#project-buffer {
		width: 900px;
	}
	
	#burtonbooz-text {
		font-size: 8.5px;
		line-height: 11px;
		letter-spacing: 0px;
		padding-top: 0px;
	}
	
	.header-text {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	#project-container {
		width: 900px;
	}
	
	.project-title {
		padding-top: 10;
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	#footer-bar {
		width: 900px;
	}
	
/** ABOUT & CONTACT **/

.profile-image-format {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	overflow: hidden;
	
	height: 300px;
	width: 235px;
}
	
.about-elsewhere {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	text-align: left;
	width: 300px;
}

.elsewhere-text-format {
	margin-right: 10px;
	text-align: left;
}

.about-contact-text-format {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 70px;
	width: 400px;
	z-index: 3;
}
	
#portrait-container {
	padding-left: 50vw;
	width: 0px;
	height: 0px;
	z-index: 1;
}
	
/** projects **/
	
	.grid-container {
		width: 900px;
	}
	
	#project-page {
		position: relative;
		height: 100vh;
		width: 900px;
	}
	
	#project-image-buffer {
		width: 500px;
	}
  
	.project {
    height: 300px;
		width: 300px;
  }
	
	#project-image-container {
		position: absolute;
		width: 600px;
		padding-left: 25px;
	}
	
		.project-info {
		width: 300px;
	}
	
	.header-text-project {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-header-text {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-info-text {
		font-size: 10px;
		letter-spacing: .5px;
		line-height: 17px;
	}
	
	/** side-projects **/
	
	#side-project-image-container {
	position: absolute;
	width: 90vw;
	}
}

@media only screen and (max-width: 966px) {
	/** 
	
	* {
	transition: all .5s;
	}
	
	**/
	

/** main-page **/
	
	#header-bar-bg {
		width: 900px;
	}
	
	#header-bar {
		width: 900px;
	}
	
	#project-buffer {
		width: 300px;
	}
	
	#project-container {
		width: 600px;
	}
   
	.project {
    height: 300px;
		width: 300px;
  }
	
	#project-image-container {
		width: 200px;
	}
	
	/** ABOUT & CONTACT **/

.profile-image-format {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	overflow: hidden;
	
	height: 300px;
	width: 235px;
}
	
.about-elsewhere {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	text-align: left;
	width: 200px;
}

.elsewhere-text-format {
	margin-right: 10px;
	text-align: left;
}

.about-contact-text-format {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 70px;
	width: 200px;
	z-index: 3;
}
	
#portrait-container {
	padding-left: 50vw;
	width: 0px;
	height: 0px;
	z-index: 1;
}
	
	/** footer **/
	
	#footer-bar {
		width: 300px;
	}

/** projects **/

	.grid-container {
			width: 300px;
		}

	#project-page {
			position: relative;
			height: 100vh;
			width: 300px;
		}
	
	.project-info {
		width: 250px;
	}
	
	.header-text-project {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-header-text {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-info-text {
		font-size: 7px;
		letter-spacing: .5px;
		line-height: 14px;
	}
	
	/** side-projects **/
	
	#side-project-image-container {
	position: absolute;
	width: 300px;
	}
	
	.hr {
		width: 300px;
	}
	
	#reel {
	position: fixed;
	width: 60vw;
	height: 35vw;
	margin-top: 65px;
}
}
