@media only screen and (max-width: 1080px) {
	
	/**
	
	* {
	transition: all .5s;
	} 
	
	**/
	
/** main-page **/
	
	#header-bar-bg {
		width: 1080px;
	}
	
	#header-bar {
		width: 1080px;
	}
	
	.header-text-box {
	text-align: center;
	width: 100px;
	height: 65px;
	padding-top: 25px;
	}
	
	#project-buffer {
		width: 1080px;
	}
	
	/** 
	#burtonbooz-text {
		font-size: 8.5px;
		line-height: 11px;
		letter-spacing: 0px;
		padding-top: 0px;
	}
	
	.header-text {
		font-size: 10px;
		letter-spacing: 1px;
	}
	**/ 
	#project-container {
		width: 1080px;
	}
	
	.project-title {
		padding-top: 10;
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-title {
		font-family: CothamSans, sans-serif;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 15px;
		font-size: 12px;
		text-align: left;
		color: lavender;
		padding-top: 10px;
		padding-bottom: 10px;

		position: relative;
		opacity: 1;
	}

	.project-subtitle {
		font-family: CothamSans, sans-serif;
		font-weight: 600;
		letter-spacing: 1px;
		font-size: 8px;
		text-align: left;
		color: white;

		position: absolute;
		
		opacity: 1;
	}

	.project-image-thumbnail {
		background-size: cover;
		width:inherit;
		height: inherit;
		opacity: 1;
		background-position: top;

		/** transition: opacity 1s; **/
	}

	
	#footer-bar {
		width: 900px;
	}
	
/** ABOUT & CONTACT **/

	.profile-image-format {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left;
		overflow: hidden;

		height: 300px;
		width: 235px;
	}

	.about-elsewhere {
		display: flex;
		justify-content: space-between;
		margin-top: 70px;
		text-align: left;
		width: 300px;
	}

	.elsewhere-text-format {
		margin-right: 10px;
		text-align: left;
	}

	.about-contact-text-format {
		padding-top: 0px;
		padding-right: 20px;
		padding-bottom: 20px;
		margin-top: 70px;
		width: 300px;
		z-index: 3;
	}

	#portrait-container {
		position: absolute;
		padding-top: 40vh;
		padding-left: 0px;
		width: 0px;
		height: 0px;
		z-index: 1;
	}

/** projects **/
	
	.grid-container {
		width: 1080px;
	}
	
	#project-page {
		position: relative;
		height: 100vh;
		width: 900px;
	}
	
	#project-image-buffer {
		width: 500px;
	}
  
	.project {
    height: 450px;
		width: 450px;
  }
	
	#project-image-container {
		position: absolute;
		width: 600px;
		padding-left: 25px;
	}
	
		.project-info {
		width: 300px;
	}
	
	.header-text-project {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-header-text {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-info-text {
		font-size: 13px;
		letter-spacing: .5px;
		line-height: 20px;
	}
	
	/** side-projects **/
	
	#side-project-image-container {
	position: absolute;
	width: 90vw;
	}
}

@media only screen and (max-width: 640px) {
	/** 
	
	* {
	transition: all .5s;
	}
	
	**/
	

/** main-page **/
	
	#header-bar-bg {
		width: 640px;
	}
	
	#header-bar {
		width: 300px;
		
		display:flex;
		justify-content: space-between;
		flex-direction: row;
	}
	
	.header-text-box {
		text-align: center;
		width: 260px;
		height: 35px;
		padding-top: 25px;
	}
	
	.header-text {
		padding-top: 5px;
		font-size: 15px;
		letter-spacing: 1px;
	}
	
	#burtonbooz-text {
		font-size: 12px;
		line-height: 11px;
		letter-spacing: 0px;
		padding-top: 0px;
		text-align: center
	}
	
	#project-buffer {
		width: 300px;
	}
	
	#project-container {
		width: 360px;
	}
   
	.project {
    height: 500px;
		width: 500px;
  }
	
	#project-image-container {
		width: 200px;
	}
	
	/** ABOUT & CONTACT **/

	.profile-image-format {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left;
		overflow: hidden;

		height: 300px;
		width: 235px;
	}

	.about-elsewhere {
		display: flex;
		justify-content: space-between;
		margin-top: 70px;
		text-align: left;
		width: 200px;
	}

	.elsewhere-text-format {
		margin-right: 10px;
		text-align: left;
	}

	.about-contact-text-format {
		padding-top: 0px;
		padding-right: 20px;
		padding-bottom: 20px;
		margin-top: 30px;
		width: 200px;
		z-index: 3;
	}
	
	#portrait-container {
		position: absolute;
		padding-top: 32vh;
		padding-left: 0px;
		width: 0px;
		height: 0px;
		z-index: 1;
	}

	/** footer **/
	
	#footer-bar {
		width: 300px;
		margin-left: 65px;
	}

/** projects **/

	.grid-container {
			width: 360px;
		}

	#project-page {
			position: relative;
			height: 100vh;
			width: 300px;
		}
	
	.project-info {
		width: 250px;
	}
	
	.header-text-project {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-header-text {
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.project-info-text {
		font-size: 7px;
		letter-spacing: .5px;
		line-height: 14px;
	}
	
	/** side-projects **/
	
	#side-project-image-container {
	position: absolute;
	width: 300px;
	}
	
	.hr {
		width: 300px;
	}
	
	#reel {
		position: fixed;
		width: 90vw;
		height: 50vw;
		margin-top: 65px;
	}
}
