/** * {
	transition: all .5s;
	background-color: black;
} **/

.crosshair{
	cursor: crosshair;
	height: 100vh;
	overflow: visible;
}

/** Links **/

a {
	color: lavender;
	text-decoration: none;
}

#link {
	color: whtie;
	text-decoration: underline;
	background-color: transparent;
}


/*** current page ***/

.current-page {
	font-family: sans-serif;
	letter-spacing: 1.5px;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	height: 65px;
	padding-top: 25px;
	color: black;
	text-decoration: none;
	font-style: italic;
}

/** Website Fonts **/


@font-face {
	font-family: 'Cormorant';
	src: url('/font/Cormorant-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CothamSans';
	src: url('/font/CothamSans.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreBaskerville-Regular';
	src: url('../font/LibreBaskerville-Regular.otf') format('opentype');
	font-weight: thin;
	font-style: normal;
}

/** HEADER **/

#header-bar-bg {
	height: 65px;
	width: 100vw;
	position:fixed;
	background-color: black;
	z-index: 9999;
}

#header-bar {
	position: absolute;
	width: 1200px;

	display:flex;
	justify-content: space-between;
}

.header-text-box {
	text-align: center;
	height: 65px;
	padding-top: 25px;
}

#burtonbooz-text {
	font-family: Cormorant, serif;
	letter-spacing: 0.5px;
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
	text-align: left;
	padding-top: 0px;
	text-decoration: none;
}

.header-text {
	font-family: CothamSans, sans-serif;
	letter-spacing: .5px;
	font-size: 13px;
	font-weight: 400;
	color: lavender;
	text-decoration: none;
}

.header-text:hover {
	font-weight:800;
}

#header-bar-buffer {
	height: 65px;
	background-color: black;
	z-index: 1;
}

#buffer {
	height: 65px;
	background-color: white;
	z-index: 1;
}

a:active {
	font-style: italic;
}

/******** individual header bar ********/

#header-bar-bg {
	height: 65px;
	width: 100vw;
	position:fixed;
	background-color:black;
	z-index: 9999;
}

#header-bar-project {
	position: absolute;
	width: 600px;

	display:flex;
	justify-content: space-between;
}

#footer-bar {
	position: fixed;
	padding: 2px;
	bottom: 0;
	background-color: black;
	width: 100vw;

	font-family: sans-serif;
	font-size: 10px;
	letter-spacing: .5px;
	color: white;

	z-index: 4;
}

/** ABOUT & CONTACT **/

.profile-image-format {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	overflow: hidden;

	height: 405px;
	width: 320px;
}

.about-elsewhere {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	text-align: left;
	width: 400px;
}

.elsewhere-text-format {
	margin-right: 10px;
	text-align: left;
}

.about-contact-text-format {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 70px;
	width: 400px;
	z-index: 3;
}

#portrait-container {
	padding-left: 50vw;
	width: 0px;
	height: 0px;
	z-index: 1;
}

/** PROJECTS **/

/** Projects – Main Page **/

#project-container {
	position: absolute;
	width: 1200px;
	height: auto;
	margin: left;
	
	display: flex;
	flex-flow: wrap;
}

#project-buffer {
	width: 1200px;
	height: 65px;
}

.project {
	width: 500px;
	height: 500px;
	padding-right:20px;
	padding-bottom: 80px;
	position: relative;

	/** opacity: 1; **/

	/** transition: height 2s; **/
}

.project-title {
	font-family: CothamSans, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 15px;
	font-size: 12px;
	text-align: left;
	color: lavender;
	padding-top: 10px;
	padding-bottom: 10px;

	position: relative;

	opacity: 0;

	transition: opacity .5s, letter-spacing .5s;
	
	background-color: transparent;
}

.project-subtitle {
	font-family: CothamSans, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 8px;
	text-align: left;
	color: white;

	position: absolute;

	opacity: 0;

	transition: opacity 2s, letter-spacing 1s;
	
	background-color: transparent;
}

.project-image-thumbnail {
	background-size: cover;
	width:inherit;
	height: inherit;
	opacity: 1;
	background-position: top;
	
	/** transition: opacity 1s; **/
}


/** .project:hover {
	height: 550px;
} **/

/** .project:hover .project-image-thumbnail {
	opacity: .1;
} **/

.project:hover .project-title {
	opacity: 1;
}

.project:hover .project-title{
	letter-spacing: 2px;
} 

.project:hover .project-subtitle {
	opacity: 1;
}

.project:hover .project-subtitle{
	letter-spacing: 2px;
} 

**/

/** Projects – Project Page **/

.project-info-box {
	position: fixed;
	width: 100px;
	height: 200px;
	z-index: 1;
	color: lavender;

	opacity: 1;
}

.header-text-project {
	position: fixed;
	font-family: CothamSans, sans-serif;
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: 800;
	text-align: left;
	padding-top: 25px;
	text-decoration: none;
	color: lavender;

	padding-top: 100px;
	padding-left: 30px;
}

.project-header-text {
	font-family: CothamSans, sans-serif;
	letter-spacing: 1.5px;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	color: lavender;
	background-color: transparent;
}

.project-info-text {
	font-family: CothamSans, sans-serif;
	letter-spacing: .5px;
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	line-height: 20px;
	color: lavender;
	background-color: transparent;
}

.project-caption-text {
	font-family: CothamSans, sans-serif;
	letter-spacing: 1px;
	font-size: 11px;
	font-weight: 600;
	text-align: left;
	line-height: 20px;
}

#project-page {
	position: relative;
	height: 100vh;
	width: 1200px;
}

.project-image {
	margin: left;


	width: 100vw;
	padding-top: 5px;
	padding-bottom: 5px;
	/** width: 60vw; **/
	/** padding-top: 1vw;
	padding-bottom: 1vw; **/
}

#project-image-buffer {
	height: 65px;
}

#project-bottom-buffer {
	height: 400px;
}

#project-side-buffer {
	width: 400px;
}

#project-image-container {
	position: absolute;
	width: 1200px;
	padding-left: 30px;
	background-color: transparent;

	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

#project-image-side-scroll-container {
	position: relative;
	width: 100vw;
	padding-left: 30px;
	background-color: transparent;
	overflow: visible;

	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.project-info {
	position: fixed;
	background-color: black;
	width: 350px;
	top: 130px;
	padding: 20px;

	z-index: 2;

	opacity: 0;
}

.project-info-text:hover + .project-info{
	opacity: 1;
}

.project-info:hover {
	opacity: 1;
}

iframe {
	position: relative;
	width: 70vw;
	height: 40vw;
	margin: left;
	}

.iframe-left {
	position: relative;
	width: 40vw;
	height: 40vw;
	background-position: left;
}

#reel {
	position: fixed;
	width: 90vw;
	height: 50vw;
	margin-top: 65px;
}

/******** Side Projects and Sketches ********/

/**

.side-project {
	height: 300px;
	width: 300px;

	opacity: 1;

	transition: opacity 2s;
}

.side-project-title {
	font-family: Akkurat Pro, sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 13px;
	text-align: center;

	padding-top: 150px;

	position: relative;

	opacity: 0;

	transition: opacity 2s, letter-spacing 1s;
}

.side-project:hover {
	opacity: 1;
}

.side-project:hover .project-image-thumbnail {
	opacity: .1;
}

.side-project:hover .side-project-title {
	opacity: 1;
}

.side-project:hover .side-project-title{
	letter-spacing: 3px;
}

**/

.side-project-image {
	margin: left;
	margin: 2px;
}

.side-project-image-black-bg {
	margin: left;
	width: 50vw;
	padding:1vw;
	margin: 1vw;
	background-color: black;
}

#side-project-image-container {
	position: absolute;
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/** separating rule **/

.hr {
	display: block;
	border: 0;
	border-top: 1px solid black;
	margin: 1em 0;
	padding: 0;
	width: 100vw;
}

/** typefaces **/

<link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
